{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@atoms": "./resources/components/atoms",
          "@layouts": "./resources/components/layouts",
          "@molecules": "./resources/components/molecules",
          "@organisms": "./resources/components/organisms",
          "@theme": "./resources/components/theme",
          "@hoc": "./resources/components/hoc",
          "@assets": "./resources/assets",
          "@utils": "./app/utils",
          "@stores": "./storage/stores",
          "@routes": "./routes",
          "@i18next": "./app/modules/i18next"
        }
      }
    ]
  ]
}
