{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/resources/components",
          "@hoc": "./src/resources/hoc",
          "@assets": "./src/resources/assets",
          "@utils": "./src/utils",
          "@modules": "./src/modules",
          "@stores": "./src/modules/redux",
          "@routes": "./src/routes"
        }
      }
    ]
  ]
}
