{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@atoms": "./src/components/atoms",
          "@layouts": "./src/components/layouts",
          "@molecules": "./src/components/molecules",
          "@organisms": "./src/components/organisms",
          "@theme": "./src/components/theme",
          "@hoc": "./src/components/hoc",
          "@styles": "./src/styles",
          "@utils": "./src/utils",
          "@stores": "./src/stores",
          "@routes": "./src/routes"
        }
      }
    ]
  ]
}
