{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-danger": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-alert": "off",
    "no-unused-vars": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "max-len": "off",
    "indent": ["error", 4],
    "react/jsx-indent": [2,4],
    "react/jsx-indent-props": [2,4],
    "react/jsx-tag-spacing": {"beforeSelfClosing":"always"},
    "jsx-a11y/no-static-element-interactions": "off",
    "react/prefer-stateless-function": "off",
    "object-curly-spacing": ["error", "never"],
    "prefer-destructuring": "off",
    "jsx-a11y/label-has-for": "off",
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": ["error", { "allow": ["__NEXT_DATA__"] }]
  },
  "globals": {
    "fetch": true,
    "document": true,
    "alert": true,
    "window": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ]
}