@charset "utf-8";
//============ custom variable ===========

$color-default: #000;
$font-size-default: 10px;
$background-color-default: #fff;

$font-family-default: 'Roboto', 'Microsoft YaHei', 'Microsoft JhengHei';
$font-family-sub: 'Roboto Condensed', 'Microsoft YaHei', 'Microsoft JhengHei';

$color-blue: #28a9e0;


//============ bootstrap variable ===========
$font-family-sans-serif: $font-family-default;
$font-family-monospace: $font-family-sub;
$primary: $color-blue;
$font-size-lg:1.4rem;

//grid
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);
