// 垂直置中(外層必須給高度)
.text-middle{
  &::before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }
  height: 100%;
}

// Flexbox 垂直置中(外層必須給高度)
.flex-middle{
  display: inline-flex;
  justify-content: center;
}

// 浮動水平置中
.absolute-center{
  position: absolute;
  left: 0;
  right: 0;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}